Package: bunsen-exit
Version: 0.01
Architecture: all
Maintainer: John Crawley <john@rafflesnagoya.com>
Depends: python-gtk2, upower
Description: Bunsen logout script.
 GUI logout/shutdown/restart/suspend script, 
 for systems using systemd.
 From cb-exit by Philip Newborough
